In [1]:
        # Unique Words in a Sentence
text=input("enter sentence: ")      #for input
text1=text.split()                  #split into list
unique=set(text1)                   #remove duplicate
tunique=len(unique)                 #get count

print("Unique words count: ",tunique)       #print
print("Unique words:",unique)

enter sentence: python is easy and python is powerful
Unique words count:  5
Unique words: {'powerful', 'python', 'and', 'is', 'easy'}

In [10]:
        #Highest Salary from Employee Data
employees = {
    "Ravi": 75000,              #dictionary
    "Anita": 68000,
    "Kiran": 72000
}

top_earn=""     #var
highest=0
for name in employees:
  current_sal=employees[name]           #compare

  if current_sal>highest:               #checking  highest
    highest=current_sal
    top_earn=name

    print("Highest salary :",top_earn,"-",highest)

Highest salary : Ravi - 75000

In [19]:
  #Find Maximum and Minimum Values
numbers = [45, 22, 89, 10, 66]


max_val = numbers[0]
min_val = numbers[0]

for n in numbers:           #loop through
   if n > max_val:
     max_val = n             #check max
   if n < min_val:
     min_val = n             #check min


print("List :",numbers)     #print
print("Max :",max_val)
print("Min :",min_val)

List : [45, 22, 89, 10, 66]
Max : 89
Min : 10

In [21]:
      #Count Products Above a Price Threshold
prices = [450, 1200, 899, 1500, 300]

count=0       #init count

for i in prices:        #loop
  if i > 1000:           #check
     count+=1

print("Product above 1000 :", count)        #print

Product above 1000 : 2

In [24]:
        #Calculate Attendance Percentage
attendance = ["P", "P", "A", "P", "P"]

total=len(attendance)

count=0

for i in attendance:
    if i=="P":
       count+=1

Percentage=(count/total)*100
print("Attendance percentage :", Percentage)

Attendance percentage : 80.0

In [25]:
        # Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

unique=set(phone_numbers)
print("Uniques phone no :", unique)

Uniques phone no : {9876543210, 9123456789}

In [27]:
        # Count Character Frequency
word = "pythonp"
freq={}

for char in word:
   if char in freq:
      freq[char]+=1
   else:
      freq[char]=1

print(freq)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [28]:
        # Convert List to Tuple
my_list = [10, 20, 30]

my_tuple = tuple(my_list)

print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

In [30]:
          #Check if a Key Exists in a Dictionary

data = {"name": "Rahul", "age": 25, "job": "Developer"}

search= "name"      #key we search
if search in data:
    print("Employee exists")
else:
    print("Key not found")

Employee exists

In [32]:
        # Calculate Average Marks

marks = [80, 65, 90, 55]

total = sum(marks)
length=len(marks)

avg=total/length
print("Average marks :",avg)

Average marks : 72.5